.style_select{
    margin-top: 30px;
}

.wp-block-tbblocks-contactperson + .wp-block-tbblocks-contactperson{
    margin-top: 24px;
}


.cp--wrapper{
    .cp--style-big{
        .cp--info{
            .block-editor-block-list__layout{
                display: flex;
                flex-flow: column;
                .wp-block-tbblocks-paragraph{
                    &:nth-child(1){
                        order: 1;
                    }
                    &:nth-child(2){
                        order: 0;
                    }
                    &:nth-child(3){
                        order: 2;
                    }
                }
            } 
        }
    }
}

