
// Colors
$color-one : #ffffff;
$color-two : #EDEDED;
$color-three : #B6B6B6;
$color-four : #3F3F3F;
$color-five : #DD3333;
$color-six : #D10E0E;
$color-seven : #B30E0E;
$color-eight : #000000;

// typography
$font-body: 'Raleway';


