.ix-section-background-image-replace{
    margin: 15px 0px 10px;
    display: block;
}
.components-button.ix-section-background-image-remove{
    margin-bottom: 0px;
    text-decoration: none;
    &:hover:not(:disabled){
        box-shadow: unset;
    }
    &:focus{
        outline: unset;
    }
}
.components-panel__body.ix-color-setting{
    border: 0px;
    margin-top: 30px;
    padding-left: 0px;
    padding-right: 0px;
    &.ix-color-top-0{
        margin-top: 0px;
        padding-top: 0px;
    }
    .components-panel__body-title{
        padding-top: 0px;
        &:hover{
            background: transparent;
        }
    }
    .components-panel__body-toggle{
        pointer-events: none;
        span:first-child{
            display: none;
        }
    }
}
.ix-gutenberg-blocks-section-controls{
    .components-base-control__field{
        > div{
            margin-bottom: 1rem;
        }
    }
}
.editor-post-featured-image__preview{
    img{
        width: auto;
    }
}
.igb--label{
    padding-bottom: 4px;
    display: block;
}
.igb--row__settings{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 24px;
    button{
        margin-left: 10px;
    }
    > .components-base-control{
        width: 100%;
        margin: 0px;
        .components-base-control__field{
            margin: 0px;
        }
    }
}
.row-wrapper{
    .block-list-appender{
        width: 100%;
    }
}
.blog-list{
    a{
        pointer-events: none;
    }
}
.blog-preview{
    a{
        pointer-events: none;
    }
}
.ix-toggle{
    div:nth-child(3){
        flex: 0.5 0.5 0%;
    }
    div:nth-child(4){
        flex: 1.3 1.3 0%;
    }
    div:last-child{
        flex: 1.2 1.2 0%;
    }
}